<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rest Api</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>


<body bgcolor = "skyblue">

  <div class="jumbotron">
    <div clas="container">
    <h1 align="center">THE SPARKS FOUNDATION PHASE 2 PROJECT</h1><br><br>
    <h2> Aim- Build Rest api to demonstrate using web app<h2><br>
    <table class="table ">
      <thead class="thead-dark">
    <tr>  <th colspan="3" scope="col" >Select Api</th></tr>
     </thead>
     <tbody>
    <tr>

    <td align="center"><a href="/tasks/">Task Api</a></td>
    <td align="center"><a href="/languages/">Language Api</a></td>
    <td align="center"><a href="/students/">Student Api</a></td>
  </tr>

</table>
</div>
</div>



</body>

</html>
